/*Index*/

.tituloindex{
    padding: 10px 0px;
    height: 800px;
    text-align: center ;
    color:$fucsia;
    background-image: url(../imagenes/principal.jpg);
    background-size: cover ;
    background-position: center;
}
.titulos{
    text-align: center;
    color: $fucsia;
    }

.titulo1{
    color: $fucsia;
    font-size: 2rem;
}