/*efectos parrafo*/
.parrafo{
    color:darkred;
    font-size: 2rem;
    text-align: justify;
    margin: 2%;
    justify-content: center;
}    
.parrafo1{
    color:darkred;
    text-align: center;
    font-size: 1rem;
}    
