@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
//variables
$violeta:#9F0D7F;
$rosa:#F79BD3;
$fucsia:#EA1179;
$font:'Karla', sans-serif;

//mixin
@mixin flex($justify,$aling){
    display: flex;
    justify-content: $justify;
    align-items: $aling;
}